.keyboard-key{
    color: #fff;
    background: #3E3E3E;
    
    flex: 1;
    border: 1px solid #616161;

    font-size: 36px;

    transition: font-size ease-in-out 0.1s;
    
    //disable text selection
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:active{
        background: #2c2c2c;
        font-size: 42px;
    }

    //especial buttons
    &.equal{

        font-weight: bold;
        font-size: 42px;
        
        color: #2c2c2c;
        background: #5900ff;
        border: none;

        &:active{
            background: #6900e2;
        }
    }

    &.addition{
        
        font-weight: bold;
        font-size: 42px;
        
        color: #2c2c2c;
        background: #42FFB0;
        border: none;

        &:active{
            background: #38dc97;

            font-size: 50px;
        }
    }

    &.subtraction{

        font-weight: bold;
        font-size: 50px;

        color: #2c2c2c;

        background: #FF004D;
        border: none;

        &:active{
            background: #dd0042;

            font-size: 60px;
        }
    }

    &.multiply{
        font-weight: bold;
        font-size: 42px;

        color: #2c2c2c;

        background: #00B2FF;
        border: none;

        &:active{
            background: #019cdf;

            font-size: 60px;
        }
    }

    &.divider{
        font-weight: bold;
        font-size: 42px;

        color: #2c2c2c;

        background: #FFB800;
        border: none;

        &:active{
            background: #eba800;

            font-size: 60px;
        }
    }

    &.AC{
        background: #303030;
        border: none;

        &:active{
            background: #181818;
        }
    }
}

@media(min-width: 769px){
    .keyboard-key{
        &.7{
            background: red;
        }
    }
}