#screen{
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .positionActive{
        border: 1px solid #2200FF;
        border-radius: 10px;
    }

    .text-container{
        display: flex;

        font-size: 64px;
    
        div{
            //disable text selection
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            width: 80px;
            
            display: flex;
            justify-content: center;
            padding: 5px;

            transition: font-size 0.2s ease-in-out;

            &:active{
                font-size: 75px;
            }
        }
    }

    padding: 10px 30px;

}


@media(min-width: 769px){
    #screen{

        padding: 10px 0px;
        display: flex;

        .text-container{
            display: flex;
            align-items: center;

            height: 200px;

            overflow-y: auto;
            
            text-align: center;
            font-size: 50px;
        }
    }
       
}