#screen{
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    padding: 10px 30px;

    p{
        word-break: break-all;
        font-weight: bold;
        font-size: 15vw;
    }
}


@media(min-width: 769px){
    #screen{

        padding: 10px 0px;

        p{
            display: flex;
            align-items: center;

            height: 200px;

            overflow-y: auto;
            
            text-align: center;
            font-size: 50px;
        }
    }
       
}