#screen{
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .text-container{
        display: flex;

        font-size: 64px;
    
        input{
            pointer-events: none;
            //disable text selection
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;

            display: flex;
            align-items: center;
            justify-content: center;

            color: #fff;
            background: transparent;

            border: 0;

            text-align: center;

            width: 70px;

            font-size: 64px;
        }
    }

    padding: 10px 30px;

}


@media(min-width: 769px){
    #screen{

        padding: 10px 0px;
        display: flex;

        .text-container{
            display: flex;
            align-items: center;

            height: 200px;

            overflow-y: auto;
            
            text-align: center;
            font-size: 50px;
        }
    }
       
}