.show-history-button{
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #2b2b2b;

    border: none;
    border-bottom: 1px solid #616161;

    img{
        height: 25px;
    }
}

@media(min-width: 769px){
    .show-history-button{
        display: none;
    }    
}